<table>
  <thead>
    <tr>
      <th>N.</th>
      <th>Title</th>
      <th>Description</th>
      <th>Operation</th>

    </tr>
  </thead>
  <tbody>
    {{#each tasks}}
      <tr>
        <td>{{@index}}</td>
        <td>{{title}}</td>
        <td>{{description}}</td>
        <td>
          {{#if done}}
            <a href="tasks/{{_id}}/toggleDone">undone</a>
          {{else}}
            <a href="tasks/{{_id}}/toggleDone">done</a>
          {{/if}}
          <a href="tasks/{{_id}}/delete">delete</a>
          <a href="tasks/{{_id}}/edit">update</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>